/* custom media queries */

@custom-media --viewport-medium (width >= 768px);

@custom-media --viewport-large (width >= 992px);

@custom-media --viewport-extra-large (width >= 1200px);

@custom-selector :--heading h1, h2, h3, h4, h5, h6;
/* :root {
  --font-size: 12px;
  --font-color: #000;
  --link-color: var(--font-color);
} */
/* @media (--viewport-medium) {
  :root {

  }
} */
