@charset "UTF-8";
@import "mixin";

/* spinner */
@keyframes spin{
	0% {transform: rotate(0deg);}
	50% {transform: rotate(180deg);	}
	100% {transform: rotate(360deg);}
}

.postbox.wpto_meta_box_tagsdiv{
	h2{
		position: relative;
		@include spinner(absolute, 10px, 2px, #aaa, ready, hidden);
		&:before{
			left: auto;
			right: 35px;
			margin-left: 0;
		}
	}
}
.postbox.wpto_meta_box_panel{
	h2{
		position: relative;
		@include spinner(absolute, 10px, 2px, #aaa, ready, hidden);
		&:before{
			left: auto;
			right: 35px;
			margin-left: 0;
		}
	}
  .inside{
    .inner{
			position: relative;
      ul{
        margin-bottom: 0;
        li{
          background: #f5f5f5;
          border: 1px solid #dfdfdf;
          border-radius: 2px;
          margin-bottom: 3px;
          cursor: move;
          position: relative;
          &:before{
          	content: "";
          	display: block;
          	position: absolute;
          	top: 0;
          	left: 0;
          	z-index: 10;
            width: 100%;
            height: 100%;
          }
          &:after{
            content: "";
          	display: block;
          	position: absolute;
          	top: 50%;
          	right: 6px;
          	z-index: 5;
            width: 14px;
            height: 14px;
            margin-top: -7px;
            background: url(../svg/move.svg) no-repeat 0 0;
            background-size: 100%;
						@include opacity(0.5);
          }
          &.ui-sortable-helper{
            &:after{
              @include opacity(1);
            }
          }
          input{
            border: none;
            background: none;
            box-shadow: none;
            width: 100%;
						@include font-size(11);
          }
        }
      }
    }
  }
}
.post-new-php{
	.postbox.wpto_meta_box_panel{
	  .inside{
	    .inner{
				&:before{
					content: "Be Activated After Save Once";
					display: block;
					position: absolute;
					top: 50%;
					left: 0;
					z-index: 55;
					width: 100%;
					margin-top: -10px;
					color: #999;
					font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
					@include font-size(14);
					line-height: 1;
					text-align: center;
				}
				&:after{
					content: "";
					display: block;
					position: absolute;
					top: 0;
					left: 0;
					z-index: 50;
					width: 100%;
					height: 100%;
					background: #fff;
					@include opacity(0.15);
				}
				ul{
					@include opacity(0.18);
					min-height: 25px;
				}
			}
		}
	}
}
