name: PHP Coding Standards

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master


concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  run:
    runs-on: ubuntu-latest
    name: PHP Coding Standards

    env:
      WP_TESTS_DIR: /tmp/wordpress-tests-lib

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Setup PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: '8.2'
        tools: composer:v2, cs2pr

    - name: Check PHP Version
      run: php -v

    - name: Composer install
      run: composer install --optimize-autoloader --prefer-dist

    - name: Coding Sniffs.
      run: ./vendor/bin/phpcs --report-full --report-checkstyle=/tmp/phpcs-report.xml

    # - name: Show PHPCS results in PR
    #   # if: ${{ always() }}
    #   run: cs2pr /tmp/phpcs-report.xml
